<!-- Heading -->
<h1 class="header">Habit Tracker</h1>
<!-- Navigation bar -->
<nav class="d-flex justify-content-center">
  <!-- Nav link : Home -->
  <a href="/" class="btn btn-success mx-2" >Home</a>
  <!-- Nav link : Weekly view -->
  <a href="/weekly_view" class="btn btn-success mx-2" >weekly view</a>
</nav>